//
   Created by gromi on 2/21/2016.

extends layout

block content
    h1= title
    p This is Sequelize greeting you :)


        form(method="POST", action="postmusic", enctype="multipart/form-data")
            input(type="file", name="photo")
            br
            input(type="submit" value="upload")